name: genre_classifier_env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.13
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pip
  - pip:
    - torch
    - torchvision
    - torchaudio